services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: myapi-db
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong@Password
      - MSSQL_PID=Developer
    ports:
      - "1433:1433"
    networks:
      - api-network
    volumes:
      - mssql-data:/var/opt/mssql
    healthcheck:
      test: [ "CMD-SHELL", "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P 'YourStrong@Password' -Q 'SELECT 1' || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: myapi-app
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      # Use the container name 'db' as the server address
      - ConnectionStrings__ConnectionString=Server=db;Database=MyApiBoilerPlateDb;User Id=sa;Password=YourStrong@Password;TrustServerCertificate=True;
    depends_on:
      db:
        condition: service_healthy
    networks:
      - api-network

networks:
  api-network:
    driver: bridge

volumes:
  mssql-data:
